<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>UIDeviceFamily</key>
        <array>
            <integer>1</integer>
        </array>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>MinimumOSVersion</key>
        <string>5.0</string>
        <key>CFBundleDisplayName</key>
        <string>usnap.us</string>
        <key>CFBundleIdentifier</key>
        <string>us.usnap.camera</string>
        <key>CFBundleVersion</key>
        <string>2.0.1</string>
        <key>NSMainNibFile</key>
        <string></string>
        <key>MKDirectionsApplicationSupportedModes</key>
        <array/>
        <key>CFBundleIconFiles</key>
        <array>
            <string>Resources/Default.png</string>
            <string>Resources/Default@2x.png</string>
            <string>Resources/Default-568h@2x.png</string>
        </array>
        <key>UIAppFonts</key>
        <array>
            <string>Fonts/Gelato Script.otf</string>
            <string>Fonts/ProximaNova-Bold.otf</string>
            <string>Fonts/ProximaNova-Black.otf</string>
            <string>Fonts/ProximaNova-BoldIt.otf</string>
            <string>Fonts/ProximaNova-Extrabold.otf</string>
            <string>Fonts/ProximaNova-Light.otf</string>
            <string>Fonts/ProximaNova-LightItalic.otf</string>
            <string>Fonts/ProximaNova-RegItalic.otf</string>
            <string>Fonts/ProximaNova-Regular.otf</string>
            <string>Fonts/ProximaNova-Semibold.otf</string>
            <string>Fonts/ProximaNova-SemiboldItalic.otf</string>
        </array>
        <key>FacebookAppID</key>
        <string>269358719767930</string>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>fb269358719767930</string>
                </array>
            </dict>
        </array>
    </dict>
</plist>
